# 后端
/NexusHive/runtime/
/NexusHive/vendor/
/NexusHive/.env
/NexusHive/public/uploads/

# 前端
/Nexus-Hive-Web/node_modules/
/Nexus-Hive-Web/dist/
/Nexus-Hive-Web/.env.local
/Nexus-Hive-Web/.env.production.local

# 系统文件
.DS_Store
.idea/
.vscode/
*.log
*.swp
*.swo

# 备份文件
*.tar.gz
*.sql
nexushive-backup*/
